<li id="destination_<%= destination.id %>">
  <%= image_tag(destination.image_url) %><h2><%= destination.name %></h2>
  <div class="todo_form" id="todo_form_for_destination_<%= destination.id %>">
    <% @todo = Todo.new(:destination_id => destination.id) %>
    <%= form_for [destination, @todo], :remote => true do |f| %>
      <%= f.hidden_field :destination_id %>
      <%= render :partial => "pages/form", :locals => {:f => f, :destination => destination}%>
      <%= f.label :priority %>
      <%= f.text_field :priority %>
      <%= f.submit %>
    <% end %>
  </div>
</li>
