<h1>New Destination</h1>

<%= form_for @destination, destination_create_path do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :image %>
  <%= f.text_field :image_url %>

  <%= f.submit %>
<% end %>